@use '../components/mixins' as *;
@use '../custom' as *;

.mynav {
  @include gradient;

  li {
    margin: 0 0.8rem;

    a {
      color: $white !important;
      text-transform: capitalize;
      font-weight: 500;
      border: none;
    }
  }
}
