@use '../custom' as *;

@mixin gradient {
  background-image: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.95)
  );
}

@mixin border {
  border: 1px solid red;
}

@mixin Mytransition {
  transition-duration: 100ms;
  transition-property: all;
}


