@use '../custom' as *;

.intro {
  h1 {
    font-weight: 700;
    color: white;
    line-height: 1.2;
    margin-top: 2rem;
  }

  p {
    color: white;
    font-weight: 200;
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.2;
    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }
}

.heading-line::before {
  content: '';
  display: block;
  background-color: $secondary;
  width: 10rem;
  height: 0.1rem;
  margin: auto;
}
.heading-line::after {
  content: '';
  display: block;
  margin: auto;
  background-color: $secondary;
  width: 2rem;
  height: 0.3rem;
}

.border-right {
  border-right: 0.1rem solid $gray-300;
}

.display-3 {
  &--title {
    background-image: linear-gradient(to right, $primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.8rem;
    font-weight: 600;
  }
}
